<main>
    <form method="POST" class="cat-form">
        <h2>Edit Dog</h2>
        <label for="name">Name</label>
        <input type="text" id="name" value={{dog.name}}>
        <label for="description">Description</label>
        <textarea id="description">{{dog.description}}</textarea>
        <label for="image">Image</label>
        <input type="text" id="image" name="imageUrl" value={{dog.imageUrl}}>
        <label for="group">Breed</label>
        <select id="group">
            {{#each dogBreeds}}
            <option value={{breed}}>{{breed}}</option>
            {{/each}}
        </select>
        <button>Edit Cat</button>
    </form>
</main>