<main>
    <form method="PUT" class="cat-form">
        <h2>Edit Cat</h2>
        <label for="name">Name</label>
        <input type="text" id="name" value={{cat.name}}>
        <label for="description">Description</label>
        <textarea id="description">{{cat.description}}</textarea>
        <label for="image">Image</label>
        <input type="text" id="image" name="imageUrl" value={{cat.imageUrl}}>
        <label for="group">Breed</label>
        <select id="group">
            {{#each catBreeds}}
            <option value={{breed}}>{{breed}}</option>
            {{/each}}
        </select>
        <button type="submit">Edit Cat</button>
    </form>
</main>